.arrow-down {
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #808080;
    cursor: pointer;
    outline: none;
}

.color-picker-rows .select-color-picker-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    cursor: pointer;
    outline: none;
}

.color-picker-rows .select-color-picker-item:hover {
    background-color: #0000ff;
}
