.color-picker {
    width: 15rem;
    height: 3rem;
    border: .25rem solid #000000;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    color: #808080;
    background-color: #ffffff;
}

.color-picker .color-identification {
    width: 8rem;
    padding: .5rem;
}

.color-picker .color-picker-rows {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #808080;
    outline: none;
    position: relative;
}
